.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #5d5369, #6f06f8);
  font-family: "Poppins" sans-serif;
}

.header {
  min-height: 20vh;
  font-size: 2rem;
  color: rgb(240, 181, 105);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  min-height: 10vh;
  font-size: 2rem;
  color: rgb(240, 181, 105);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input,
.todo-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
}
.todo-button {
  background: white;
  color: #6f06f8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-button:hover {
  color: white;
  background: #6f06f8;
}
.todo-container {
  /* position:absolute; */
  /* min-height: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  color: black;
  background: white;
  font-size: 1.5rem;
  padding: 0.2rem;
  padding-left: 0.3rem;
  transition: all 0.5s ease;
}
.todo-li {
  flex: 1;
  padding-right: 0.5rem;
}
.completeButton,
.trashButton {
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  background: #6f06f8;
  color: white;
}
.completeButton {
  background: #32aa72;
  color: rgb(230, 222, 212);
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  color: black;
  background: white;
  font-size: 1.5rem;
  padding: 0.2rem;
  padding-left: 0.3rem;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
